{% extends 'base.html'%}

{% load static %}

{%block title%}
<title>Contact</title>
{%endblock title%}

{%block content%}

        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4">
                    <img src="{% static 'images/notes.jpg' %}" alt="" width="360" height="250" class="rounded-lg shadow-sm p-3 mb-5 bg-body rounded">
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'images/notes.jpg' %}" alt="" width="360" height="250" class="rounded-lg shadow-sm p-3 mb-5 bg-body rounded">
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'images/notes.jpg' %}" alt="" width="360" height="250" class="rounded-lg shadow-sm p-3 mb-5 bg-body rounded">
                </div>
            </div>   

            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <center><p class="h1 text-primary">Organize. Prioritize. Execute....<br></p> 
                    <p class="h5">Plan your day better and ,Get your life Organized.</p>
                    <a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow-lg">Let's Get Started</button></a>
                </center>
                </div>

            </div>
        
        
        </div>

{%endblock content%}